
services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    ports:
      - 9090:9090
    restart: unless-stopped
    volumes:
      - ./prometheus:/etc/prometheus
      - prom_data:/prometheus

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=grafana
    volumes:
      - ./grafana:/etc/grafana/provisioning/datasources

  free23c:
    image: container-registry.oracle.com/database/free:latest
    container_name: free23c
    ports:
      - 1521:1521
    environment:
     - ORACLE_PWD=Welcome12345

  exporter:
    #image: container-registry.oracle.com/database/observability-exporter:1.0.0
    image: oracle/observability-exporter:0.99.6-oraclelinux
    container_name: exporter
    ports:
      - 9161:9161
    environment:
      - DB_USERNAME=pdbadmin
      - DB_PASSWORD=Welcome12345
      - DB_CONNECT_STRING=free23c:1521/freepdb

volumes:
  prom_data: